:root {
    --primary: #FFC107;
    --secondary: #0097A7;
    --dark: #212121;
    --Gray: #757575;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**Reset para REMS - 62.5% = 10px de 16px**/
    min-height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'krub', sans-serif;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    margin: 0;
}

h2,
h3 {
    text-align: center;
}

h3 {
    color: var(--secondary);
    font-weight: 400;
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
    line-height: 2;
}

.site-header {
    background-color: #ffffff;
}

.site-header nav {
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .site-header nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

.site-header nav a {
    color: var(--dark);
    font-size: 2.2rem;
    text-decoration: none;
    margin-bottom: 2rem;
}

.site-header nav a:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .site-header nav {
        margin-bottom: 0;
    }
}

.hero {
    height: 45rem;
    background-image: url(../img/hero.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::after {
    content: '';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-hero {
    color: #ffffff;
    position: relative;
    z-index: 1;
    text-align: center;
}

.container-hero i {
    font-size: 5rem;
    color: var(--primary);
}

.button {
    background-color: var(--secondary);
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 1rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: .5rem;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.container {
    max-width: 120rem;
    margin: 3rem auto;
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 21px -9px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 0px 10px 21px -9px rgba(0, 0, 0, 0.74);
    box-shadow: 0px 10px 21px -9px rgba(0, 0, 0, 0.74);
}

.container-services {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .container-services {
        display: flex;
        justify-content: space-between;
    }
    .service {
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.icons {
    font-size: 3rem;
}


/**Form*/

form {
    background-color: var(--Gray);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
}

form legend {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--primary);
    margin: 3rem 0;
}

@media (min-width: 768px) {
    form {
        max-width: 80rem;
        margin: 3rem auto;
    }
    .container-fields {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .field {
        flex: 0 0 calc(50% - 1rem);
    }
}

.field {
    display: flex;
    margin-bottom: 2rem;
}

.field label {
    flex: 0 0 9rem;
    padding-top: .5rem;
    color: #ffffff;
}

.field input {
    flex: 1;
    height: 4rem;
}

.field textarea {
    flex: 1;
    height: 6rem;
}

.w-100 {
    flex: 0 0 100%;
}

.send {
    display: flex;
    justify-content: flex-end;
}